name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install Dependencies (ms-users)
      run: cd ms-users && npm install
      
    - name: Generate Prisma Client (ms-users)
      run: cd ms-users && npx prisma generate

    - name: Build (ms-users)
      run: cd ms-users && npm run build
      
    - name: Test (ms-users)
      run: cd ms-users && npm test

    - name: Install Dependencies (ms-wallet)
      run: cd ms-wallet && npm install

    - name: Generate Prisma Client (ms-wallet)
      run: cd ms-wallet && npx prisma generate

    - name: Build (ms-wallet)
      run: cd ms-wallet && npm run build
      
    - name: Test (ms-wallet)
      run: cd ms-wallet && npm test
